In [110]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [111]:
df = pd.read_csv('train.csv')

C:\Users\erena\AppData\Local\Temp\ipykernel_17104\2436019669.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [112]:
df = df[df['Cinsiyet'].notna() & (df['Cinsiyet'] != '')]

In [113]:
unique_val = df['Baska Bir Kurumdan Burs Aliyor mu?'].unique()
unique_val

array(['Hayır', 'Evet', nan], dtype=object)

In [114]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'] == 'Hayır', 'Burs Aldigi Baska Kurum'] = 0

In [115]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), 'Burs Aldigi Baska Kurum'] = 0

In [116]:
df.describe()

,Basvuru Yili,Degerlendirme Puani,Burslu ise Burs Yuzdesi,id
count,64956.000000,64955.000000,22404.000000,64956.000000
mean,2018.272461,32.112539,34.202910,32545.815752
std,2.671200,18.144754,41.639146,18802.364670
min,2014.000000,0.000000,0.000000,0.000000
25%,2016.000000,18.000000,0.000000,16272.750000
50%,2019.000000,29.000000,0.000000,32520.500000
75%,2021.000000,44.000000,75.000000,48835.250000
max,2022.000000,102.000000,100.000000,65124.000000

In [117]:
df = df[df['Degerlendirme Puani'].notna() & (df['Degerlendirme Puani'] != '')]

In [118]:
df = df[df['Dogum Tarihi'].notna() & (df['Dogum Tarihi'] != '')]

In [119]:
df = df[df['Dogum Yeri'].notna() & (df['Dogum Yeri'] != '')]

In [120]:
df = df[df['Ikametgah Sehri'].notna() & (df['Ikametgah Sehri'] != '')]

In [121]:
df['Lise Bolum Diger'] = df['Lise Bolum Diger'].fillna(0)

In [122]:
df = df[df['Universite Kacinci Sinif'].notna() & (df['Universite Kacinci Sinif'] != '')]

In [123]:
df = df[df['Universite Adi'].notna() & (df['Universite Adi'] != '')]

In [124]:
df = df[df['Bölüm'].notna() & (df['Bölüm'] != '')]

In [125]:
df.loc[(df['Universite Kacinci Sinif'] == '1') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [126]:
df.loc[(df['Universite Kacinci Sinif'] == 'Hazırlık') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [127]:
df = df[df['Universite Not Ortalamasi'].notna() & (df['Universite Not Ortalamasi'] != '')]

In [128]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [129]:
df = df[df['Lise Adi'].notna() & (df['Lise Adi'] != '')]

In [130]:
unique_val = df['Anne Sektor'].unique()
unique_val

array(['0', 'Kamu', 'Özel Sektör', 'Diğer', nan, 'KAMU', 'ÖZEL SEKTÖR',
       'DİĞER', '-'], dtype=object)

In [131]:
df.loc[df['Anne Calisma Durumu'] == 'Hayır', 'Anne Sektor'] = 0

In [132]:
df.loc[df['Anne Calisma Durumu'] == 'Emekli', 'Anne Sektor'] = 0

In [133]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [134]:
df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'] = df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'].fillna('Hayır')

In [135]:
df.loc[df['Ingilizce Biliyor musunuz?'].isnull(), ['Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?']] = 'Yok'

In [136]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Evet', ['Ingilizce Seviyeniz?']] = 'Baslangic'

In [137]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Hayır', ['Ingilizce Seviyeniz?']] = 'Yok'

In [138]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Hayır', ['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [139]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'].isnull(), ['Girisimcilikle Ilgili Deneyiminiz Var Mi?','Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [140]:
df.loc[(df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Evet') & 
       (df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'].isnull()), 
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'] = 'Yok'

In [141]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].isnull(), ['Profesyonel Bir Spor Daliyla Mesgul musunuz?','Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [142]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] == 'Hayır', ['Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [143]:
df.loc[df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'].isnull(), ['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']] = 'Yok'

In [144]:
df = df[df['Lise Mezuniyet Notu'].notna() & (df['Lise Mezuniyet Notu'] != '')]

In [145]:
df.loc[df['Universite Adi'] == ('MARMARA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('HACETTEPE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BEYKENT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('VAN YÜZÜNCÜ YIL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [146]:
df.loc[df['Universite Turu'] == 'DEVLET', ['Burslu ise Burs Yuzdesi']]= 100.0

In [147]:
df.loc[df['Universite Turu'] == 'Devlet', ['Burslu ise Burs Yuzdesi']]= 100.0

In [148]:
df.loc[(df['Aktif olarak bir STK üyesi misiniz?'].isnull()) & 
       (df['Hangi STK\'nin Uyesisiniz?']=='Yok'), 
       'Aktif olarak bir STK üyesi misiniz?'] = 'Hayır'

In [149]:
df=df.drop("Hangi STK'nin Uyesisiniz?", axis=1)

In [150]:
df.loc[df['Stk Projesine Katildiniz Mi?'].isnull(), ['Stk Projesine Katildiniz Mi?']]='Hayır'

In [151]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), ['Baska Bir Kurumdan Burs Aliyor mu?']]='Hayır'

In [152]:
df=df.drop("Lise Adi Diger", axis=1)

In [153]:
from unidecode import unidecode
df["Lise Turu"]=df["Lise Turu"].str.lower()

In [154]:
city_map = {
    'istanbul': 3,
    'ankara': 2,
    'izmir': 1
}

# Şehir değişkenini küçük harfe çevirip haritaya göre atama yapıyoruz, diğerlerini 0 yapıyoruz
df['Lise Sehir'] = df['Lise Sehir'].str.lower().map(city_map).fillna(0)

In [155]:
df=df.drop("Lise Bolum Diger", axis=1)

In [156]:
evet_hayir_emekli={'Evet':1,'Hayır':0,'Emekli':0}
df['Anne Calisma Durumu'] = df['Anne Calisma Durumu'].map(evet_hayir_emekli).fillna(0)

In [157]:
df=df.drop('Anne Sektor',axis=1)
df=df.drop('Anne Egitim Durumu',axis=1)

In [158]:
df=df.drop('Baba Sektor',axis=1)
df=df.drop('Baba Egitim Durumu',axis=1)
df['Baba Calisma Durumu'] = df['Baba Calisma Durumu'].map(evet_hayir_emekli).fillna(0)

In [159]:
df["Kardes Sayisi"]=df["Kardes Sayisi"].fillna(0)

In [160]:
df=df.drop("Uye Oldugunuz Kulubun Ismi",axis=1)

In [161]:
evet_hayir={'Evet':1,'Hayır':0,'evet':1,'EVET':1,'hayır':0,'HAYIR':0}
df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] = df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].map(evet_hayir).fillna(0)

In [162]:
df["Aktif olarak bir STK üyesi misiniz?"]=df["Aktif olarak bir STK üyesi misiniz?"].map(evet_hayir).fillna(0)

In [163]:
df["Stk Projesine Katildiniz Mi?"]=df["Stk Projesine Katildiniz Mi?"].map(evet_hayir)
df["Girisimcilikle Ilgili Deneyiminiz Var Mi?"]=df["Girisimcilikle Ilgili Deneyiminiz Var Mi?"].map(evet_hayir).fillna(0)
df=df.drop("Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?",axis=1)

In [164]:
df=df.drop("Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",axis=1)

In [165]:
df=df.drop("Ingilizce Seviyeniz?",axis=1)

In [166]:
df["Ingilizce Biliyor musunuz?"]=df["Ingilizce Biliyor musunuz?"].map(evet_hayir).fillna(0)

In [167]:
df=df.drop("Spor Dalindaki Rolunuz Nedir?",axis=1)

In [168]:
df["Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?"]=df["Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?"].map(evet_hayir)

In [169]:
df=df.drop("Baska Kurumdan Aldigi Burs Miktari",axis=1)

In [170]:
df=df.drop("Burs Aldigi Baska Kurum",axis=1)

In [171]:
df["Baska Bir Kurumdan Burs Aliyor mu?"]=df["Baska Bir Kurumdan Burs Aliyor mu?"].map(evet_hayir)

In [172]:
df["Burs Aliyor mu?"]=df["Burs Aliyor mu?"].map(evet_hayir)

In [173]:
uni_not_mapping = {'ORTALAMA BULUNMUYOR': 0, 'Not ortalaması yok': 0, 'Ortalama bulunmuyor': 0,'Hazırlığım': 0,'0':0,
                   '0 - 1.79': 0,'1.00 - 2.50':1,'1.80 - 2.49':1,'2.50 ve altı':1,'2.00 - 2.50':1,"3.00-2.50":2,
                   "2.50 - 3.00":2,"2.50 - 2.99":2,'2.50 -3.00':2,'3.00 - 3.50':3,'3.50-3':3,'3.00 - 3.49':3,'3.00 - 4.00':3,'3.50 - 4.00':4,'4-3.5':4,'4.0-3.5':4}

In [174]:
df["Universite Not Ortalamasi"]=df["Universite Not Ortalamasi"].map(uni_not_mapping)

In [175]:
df["Universite Not Ortalamasi"]=df["Universite Not Ortalamasi"].fillna(0)

In [176]:
df["Daha Once Baska Bir Universiteden Mezun Olmus"]=df["Daha Once Baska Bir Universiteden Mezun Olmus"].map(evet_hayir)

In [177]:
df["Lise Turu"].value_counts()

Lise Turu
anadolu lisesi        16087
diğer                 11967
devlet                 6203
düz lise               5406
özel                   4446
meslek lisesi          3285
fen lisesi             2240
meslek                 2222
özel lisesi            1867
i̇mam hatip lisesi     1046
Name: count, dtype: int64

In [178]:
lise_mapping = {'anadolu lisesi':0,'diğer':0,'devlet':0,'düz lise':0,'özel':1,'meslek lisesi':2,'fen lisesi':3,'meslek':2,'özel lisesi':1,'imam hatip lisesi':4}

In [179]:
df["Lise Turu"]=df["Lise Turu"].map(lise_mapping)

In [180]:
df["Lise Turu"]=df["Lise Turu"].fillna(0)

In [181]:
lisetürü=df["Lise Bolumu"].value_counts()

In [182]:
df = df[df['Cinsiyet'] != 'Belirtmek istemiyorum']

In [183]:
cinsiyet_mapping = {'Kadın':0,'Erkek':1,'erkek':1,'ERKEK':1}

In [184]:
df['Cinsiyet'] = df['Cinsiyet'].map(cinsiyet_mapping)

In [185]:
df.loc[(df['Universite Turu'] == 'Devlet') & (df['Universite Turu'] == 'devlet') & (df['Universite Turu'] == 'DEVLET'), 'Burslu ise Burs Yuzdesi'] = 100

In [186]:
df.loc[df['Universite Adi'] == ('AFYON KOCATEPE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('AKDENİZ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BAHÇEŞEHİR ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('ANKARA YILDIRIM BEYAZIT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [187]:
df.loc[df['Universite Adi'] == ('TRAKYA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('SELÇUK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BAŞKENT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('ÇUKUROVA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [188]:
df.loc[df['Universite Adi'] == ('GAZİ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('YILDIZ TEKNİK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('İSTANBUL AREL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('İSTANBUL AYDIN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('ÖZYEĞİN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('BURSA ULUDAĞ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BOĞAZİÇİ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [189]:
df.loc[df['Universite Adi'] == ('BİLECİK ŞEYH EDEBALİ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('DOKUZ EYLÜL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('DOĞUŞ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('MEF ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('YEDİTEPE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('EGE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BOĞAZİÇİ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [190]:
df.loc[df['Universite Adi'] == ('İSTANBUL TEKNİK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('TOKAT GAZİOSMANPAŞA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('HASAN KALYONCU ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('SİVAS CUMHURİYET ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('YOZGAT BOZOK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('AYDIN ADNAN MENDERES'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('ARDAHAN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('ATATÜRK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('DİCLE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('ERCİYES ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('ERZURUM TEKNİK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('GÜMÜŞHANE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('KARABÜK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('KASTAMONU ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('KIRŞEHİR AHİ EVRAN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('KOCAELİ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('MARDİN ARTUKLU ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('MEHMET AKİF ERSOY ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('MERSİN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('MUĞLA SITKI KOÇMAN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [191]:
df.loc[df['Universite Adi'] == ('İSTANBUL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('İSTANBUL ÜNİVERSİTESİ-'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('NECMETTİN ERBAKAN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('ESKİŞEHİR TEKNİK ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('MUŞ ALPARSLAN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('NUH NACİ YAZGAN ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('ONDOKUZ MAYIS ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('SİNOP ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('SİİRT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('TEKİRDAĞ NAMIK KEMAL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('YALOVA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('ÇANAKKALE ONSEKİZ MART ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [192]:
df.loc[df['Universite Adi'] == ('İZMİR BAKIRÇAY ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('İZMİR YÜKSEK TEKNOLOJİ ENSTİTÜSÜ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('SAĞLIK BİLİMLERİ ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [193]:
df.loc[(df['Universite Turu'].isnull()) , 'Universite Turu'] = 'Özel'

In [194]:
df = df[df['Universite Adi'] != 'Diğer']

In [195]:
df['Universite Turu'].value_counts()

Universite Turu
Devlet    38172
Özel       7340
DEVLET     6925
ÖZEL       2148
Name: count, dtype: int64

In [196]:
universite_tur_mapping = {'Devlet':1,'DEVLET':1,'Özel':0,'ÖZEL':0}

In [197]:
df['Universite Turu'] = df['Universite Turu'].map(universite_tur_mapping)

In [198]:
df.loc[(df['Universite Turu']==1) , 'Burslu ise Burs Yuzdesi'] = 100

In [199]:
df.loc[(df['Universite Turu']==0) & (df['Burslu ise Burs Yuzdesi'].isnull()), 'Burslu ise Burs Yuzdesi'] = 0

In [200]:
df.loc[df['Lise Bolumu'].str.contains('Fen', case=False, na=False), 'Lise Bolumu'] = 'SAY'
df.loc[df['Lise Bolumu'].str.contains('Sayısal', case=False, na=False), 'Lise Bolumu'] = 'SAY'
df.loc[df['Lise Bolumu'].str.contains('Sayisal', case=False, na=False), 'Lise Bolumu'] = 'SAY'
df.loc[df['Lise Bolumu'].str.contains('mf', case=False, na=False), 'Lise Bolumu'] = 'SAY'

In [201]:
df.loc[df['Lise Bolumu'].str.contains('eşit', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('esıt', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('Türkçe-Matematik', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('Türkçe - Matematik', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('TÜRKÇE /MATEMATİK', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('Türkçe- Matematik', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('Türkçe Matematik', case=False, na=False), 'Lise Bolumu'] = 'EA'
df.loc[df['Lise Bolumu'].str.contains('TM', case=False, na=False), 'Lise Bolumu'] = 'EA'

In [202]:
df.loc[df['Lise Bolumu'].str.contains('söz', case=False, na=False), 'Lise Bolumu'] = 'SOZ'
df.loc[df['Lise Bolumu'].str.contains('sosyal', case=False, na=False), 'Lise Bolumu'] = 'SOZ'
df.loc[df['Lise Bolumu'].str.contains('ts', case=False, na=False), 'Lise Bolumu'] = 'SOZ'

In [203]:
df.loc[df['Lise Bolumu'].str.contains('yabancı', case=False, na=False), 'Lise Bolumu'] = 'DIL'
df.loc[df['Lise Bolumu'].str.contains('dil', case=False, na=False), 'Lise Bolumu'] = 'DIL'
df.loc[df['Lise Bolumu'].str.contains('dıl', case=False, na=False), 'Lise Bolumu'] = 'DIL'

In [204]:
cs = df['Lise Bolumu'].value_counts()

In [205]:
# Türkçe karakterleri İngilizce karakterlere çeviren fonksiyon
def convert_characters(text):
    # Karakter dönüşüm tablosu
    turkish_to_english = str.maketrans("çğıöşüÇĞİÖŞÜ", "cgiosuCGIOSU")
    
    # Küçük harfe çevir, Türkçe karakterleri dönüştür ve boşlukları kaldır
    return text.lower().translate(turkish_to_english).replace(" ", "")

In [206]:
df['Lise Adi'] = df['Lise Adi'].apply(convert_characters)

In [207]:
df['Bölüm'] = df['Bölüm'].apply(convert_characters)

In [208]:
df['Dogum Yeri'] = df['Dogum Yeri'].apply(convert_characters)

In [209]:
df = df[df['Lise Bolumu'].notna() & (df['Lise Bolumu'] != '')]

In [210]:
cs = df['Dogum Yeri'].value_counts()

In [211]:
df.loc[(df['Dogum Yeri']=='İstanbul') , 'Dogum Yeri'] = 'istanbul'

In [212]:
cs = df['Dogum Yeri'].value_counts()

In [213]:
import re
def extract_year(date_str):

    match = re.search(r'(\d{4})', str(date_str))
    if match:
        return int(match.group(1))
    return None

df['Dogum Yili'] = df['Dogum Tarihi'].apply(extract_year)
df['Basvuru Yasi'] = df['Basvuru Yili'] - df['Dogum Yili']

In [214]:
df['Dogum Tarihi'] = df['Dogum Tarihi'].str.replace('__', '', regex=False)
df['Dogum Tarihi'] = df['Dogum Tarihi'].str.replace('_', '', regex=False)
mask = df['Dogum Yili'].isna()  # Dogum_Yili sütunu boş olanlar
df.loc[mask, 'Dogum Yili'] = pd.to_datetime(df.loc[mask, 'Dogum Tarihi'], dayfirst=True, errors='coerce').dt.year

C:\Users\erena\AppData\Local\Temp\ipykernel_17104\1723020219.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.loc[mask, 'Dogum Yili'] = pd.to_datetime(df.loc[mask, 'Dogum Tarihi'], dayfirst=True, errors='coerce').dt.year

In [215]:
df['Basvuru Yasi'] = df['Basvuru Yili'] - df['Dogum Yili']

In [216]:
df = df[df['Dogum Yili'] <= 2012]

In [217]:
df = df[df['Dogum Yili'] > 1970]

In [218]:
df["Lise Mezuniyet Notu"].value_counts()

Lise Mezuniyet Notu
75 - 100              19894
84-70                  8808
100-85                 6772
4.00-3.50              3226
50 - 75                2557
3.00 - 4.00            2330
3.50-3.00              2312
69-55                  2056
3.50-3                 1790
3.00-2.50              1753
50 - 74                1002
2.50 ve altı            170
54-45                    82
Not ortalaması yok       10
25 - 50                   8
44-0                      5
25 - 49                   2
0 - 25                    1
0 - 24                    1
Name: count, dtype: int64

In [219]:
lise_not_mapping = {'0 - 24':1,'0 - 25':1,'25 - 49':1,'44-0':1,'25 - 50':1,'Not ortalaması yok':0,'54-45':2,'2.50 ve altı':2,'50 - 74':3,'3.00-2.50':3,'3.50-3':4,'69-55':3,'3.50-3.00':4,'3.00 - 4.00':4,'50 - 75':3,'4.00-3.50':5,'100-85':5,'84-70':4,'75 - 100':5}

In [220]:
df["Lise Mezuniyet Notu"] = df["Lise Mezuniyet Notu"].map(lise_not_mapping)

In [221]:
df =df.drop("Dogum Yili",axis=1)

In [222]:
df = df.drop("Dogum Tarihi",axis=1)