In [129]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [130]:
df = pd.read_csv('train.csv')

C:\Users\erena\AppData\Local\Temp\ipykernel_5296\2436019669.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [131]:
df = df[df['Cinsiyet'].notna() & (df['Cinsiyet'] != '')]

In [132]:
unique_val = df['Baska Bir Kurumdan Burs Aliyor mu?'].unique()
unique_val

array(['Hayır', 'Evet', nan], dtype=object)

In [133]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'] == 'Hayır', 'Burs Aldigi Baska Kurum'] = 0

In [134]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), 'Burs Aldigi Baska Kurum'] = 0

In [135]:
df.describe()

,Basvuru Yili,Degerlendirme Puani,Burslu ise Burs Yuzdesi,id
count,64956.000000,64955.000000,22404.000000,64956.000000
mean,2018.272461,32.112539,34.202910,32545.815752
std,2.671200,18.144754,41.639146,18802.364670
min,2014.000000,0.000000,0.000000,0.000000
25%,2016.000000,18.000000,0.000000,16272.750000
50%,2019.000000,29.000000,0.000000,32520.500000
75%,2021.000000,44.000000,75.000000,48835.250000
max,2022.000000,102.000000,100.000000,65124.000000

In [136]:
df = df[df['Degerlendirme Puani'].notna() & (df['Degerlendirme Puani'] != '')]

In [137]:
df = df[df['Dogum Tarihi'].notna() & (df['Dogum Tarihi'] != '')]

In [138]:
df = df[df['Dogum Yeri'].notna() & (df['Dogum Yeri'] != '')]

In [139]:
df = df[df['Ikametgah Sehri'].notna() & (df['Ikametgah Sehri'] != '')]

In [140]:
df['Lise Bolum Diger'] = df['Lise Bolum Diger'].fillna(0)

In [141]:
df = df[df['Universite Kacinci Sinif'].notna() & (df['Universite Kacinci Sinif'] != '')]

In [142]:
df = df[df['Universite Adi'].notna() & (df['Universite Adi'] != '')]

In [143]:
df = df[df['Bölüm'].notna() & (df['Bölüm'] != '')]

In [144]:
df.loc[(df['Universite Kacinci Sinif'] == '1') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [145]:
df.loc[(df['Universite Kacinci Sinif'] == 'Hazırlık') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [146]:
df = df[df['Universite Not Ortalamasi'].notna() & (df['Universite Not Ortalamasi'] != '')]

In [147]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [148]:
df = df[df['Lise Adi'].notna() & (df['Lise Adi'] != '')]

In [149]:
unique_val = df['Anne Sektor'].unique()
unique_val

array(['0', 'Kamu', 'Özel Sektör', 'Diğer', nan, 'KAMU', 'ÖZEL SEKTÖR',
       'DİĞER', '-'], dtype=object)

In [150]:
df.loc[df['Anne Calisma Durumu'] == 'Hayır', 'Anne Sektor'] = 0

In [151]:
df.loc[df['Anne Calisma Durumu'] == 'Emekli', 'Anne Sektor'] = 0

In [152]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [153]:
df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'] = df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'].fillna('Hayır')

In [154]:
df.loc[df['Ingilizce Biliyor musunuz?'].isnull(), ['Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?']] = 'Yok'

In [155]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Evet', ['Ingilizce Seviyeniz?']] = 'Baslangic'

In [156]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Hayır', ['Ingilizce Seviyeniz?']] = 'Yok'

In [157]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Hayır', ['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [158]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'].isnull(), ['Girisimcilikle Ilgili Deneyiminiz Var Mi?','Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [159]:
df.loc[(df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Evet') & 
       (df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'].isnull()), 
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'] = 'Yok'

In [160]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].isnull(), ['Profesyonel Bir Spor Daliyla Mesgul musunuz?','Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [161]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] == 'Hayır', ['Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [162]:
df.loc[df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'].isnull(), ['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']] = 'Yok'

In [163]:
df = df[df['Lise Mezuniyet Notu'].notna() & (df['Lise Mezuniyet Notu'] != '')]

In [164]:
df.loc[df['Universite Adi'] == ('MARMARA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('HACETTEPE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BEYKENT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('VAN YÜZÜNCÜ YIL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [165]:
df.loc[df['Universite Turu'] == 'DEVLET', ['Burslu ise Burs Yuzdesi']]= 100.0

In [166]:
df.loc[df['Universite Turu'] == 'Devlet', ['Burslu ise Burs Yuzdesi']]= 100.0

In [167]:
df.loc[(df['Aktif olarak bir STK üyesi misiniz?'].isnull()) & 
       (df['Hangi STK\'nin Uyesisiniz?']=='Yok'), 
       'Aktif olarak bir STK üyesi misiniz?'] = 'Hayır'

In [168]:
df=df.drop("Hangi STK'nin Uyesisiniz?", axis=1)

In [169]:
df.loc[df['Stk Projesine Katildiniz Mi?'].isnull(), ['Stk Projesine Katildiniz Mi?']]='Hayır'

In [170]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), ['Baska Bir Kurumdan Burs Aliyor mu?']]='Hayır'

In [171]:
print("ŞENOL GÜNEŞ")

ŞENOL GÜNEŞ