In [60]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv('train.csv')

C:\Users\erena\AppData\Local\Temp\ipykernel_12672\2436019669.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [62]:
df = df[df['Cinsiyet'].notna() & (df['Cinsiyet'] != '')]

In [63]:
unique_val = df['Baska Bir Kurumdan Burs Aliyor mu?'].unique()
unique_val

array(['Hayır', 'Evet', nan], dtype=object)

In [64]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'] == 'Hayır', 'Burs Aldigi Baska Kurum'] = 0

In [65]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), 'Burs Aldigi Baska Kurum'] = 0

In [66]:
df.describe()

,Basvuru Yili,Degerlendirme Puani,Burslu ise Burs Yuzdesi,id
count,64956.000000,64955.000000,22404.000000,64956.000000
mean,2018.272461,32.112539,34.202910,32545.815752
std,2.671200,18.144754,41.639146,18802.364670
min,2014.000000,0.000000,0.000000,0.000000
25%,2016.000000,18.000000,0.000000,16272.750000
50%,2019.000000,29.000000,0.000000,32520.500000
75%,2021.000000,44.000000,75.000000,48835.250000
max,2022.000000,102.000000,100.000000,65124.000000

In [67]:
df = df[df['Degerlendirme Puani'].notna() & (df['Degerlendirme Puani'] != '')]

In [68]:
df = df[df['Dogum Tarihi'].notna() & (df['Dogum Tarihi'] != '')]

In [69]:
df = df[df['Dogum Yeri'].notna() & (df['Dogum Yeri'] != '')]

In [70]:
df = df[df['Ikametgah Sehri'].notna() & (df['Ikametgah Sehri'] != '')]

In [71]:
df['Lise Bolum Diger'] = df['Lise Bolum Diger'].fillna(0)

In [72]:
df = df[df['Universite Kacinci Sinif'].notna() & (df['Universite Kacinci Sinif'] != '')]

In [73]:
df = df[df['Universite Adi'].notna() & (df['Universite Adi'] != '')]

In [74]:
df = df[df['Bölüm'].notna() & (df['Bölüm'] != '')]

In [75]:
df.loc[(df['Universite Kacinci Sinif'] == '1') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [76]:
df.loc[(df['Universite Kacinci Sinif'] == 'Hazırlık') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [77]:
df = df[df['Universite Not Ortalamasi'].notna() & (df['Universite Not Ortalamasi'] != '')]

In [78]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [79]:
df = df[df['Lise Adi'].notna() & (df['Lise Adi'] != '')]

In [80]:
unique_val = df['Anne Sektor'].unique()
unique_val

array(['0', 'Kamu', 'Özel Sektör', 'Diğer', nan, 'KAMU', 'ÖZEL SEKTÖR',
       'DİĞER', '-'], dtype=object)

In [81]:
df.loc[df['Anne Calisma Durumu'] == 'Hayır', 'Anne Sektor'] = 0

In [82]:
df.loc[df['Anne Calisma Durumu'] == 'Emekli', 'Anne Sektor'] = 0

In [83]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [84]:
df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'] = df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'].fillna('Hayır')

In [85]:
df.loc[df['Ingilizce Biliyor musunuz?'].isnull(), ['Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?']] = 'Yok'

In [86]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Evet', ['Ingilizce Seviyeniz?']] = 'Baslangic'

In [87]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Hayır', ['Ingilizce Seviyeniz?']] = 'Yok'

In [88]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Hayır', ['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [89]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'].isnull(), ['Girisimcilikle Ilgili Deneyiminiz Var Mi?','Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [90]:
df.loc[(df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Evet') & 
       (df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'].isnull()), 
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'] = 'Yok'

In [91]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].isnull(), ['Profesyonel Bir Spor Daliyla Mesgul musunuz?','Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [92]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] == 'Hayır', ['Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [93]:
df.loc[df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'].isnull(), ['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']] = 'Yok'

In [94]:
df = df[df['Lise Mezuniyet Notu'].notna() & (df['Lise Mezuniyet Notu'] != '')]

In [95]:
df.loc[df['Universite Adi'] == ('MARMARA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('HACETTEPE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BEYKENT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('VAN YÜZÜNCÜ YIL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [96]:
df.loc[df['Universite Turu'] == 'DEVLET', ['Burslu ise Burs Yuzdesi']]= 100.0

In [97]:
df.loc[df['Universite Turu'] == 'Devlet', ['Burslu ise Burs Yuzdesi']]= 100.0

In [98]:
df.loc[(df['Aktif olarak bir STK üyesi misiniz?'].isnull()) & 
       (df['Hangi STK\'nin Uyesisiniz?']=='Yok'), 
       'Aktif olarak bir STK üyesi misiniz?'] = 'Hayır'

In [99]:
df=df.drop("Hangi STK'nin Uyesisiniz?", axis=1)

In [100]:
df.loc[df['Stk Projesine Katildiniz Mi?'].isnull(), ['Stk Projesine Katildiniz Mi?']]='Hayır'

In [101]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), ['Baska Bir Kurumdan Burs Aliyor mu?']]='Hayır'

In [102]:
print("ŞENOL GÜNEŞ")

ŞENOL GÜNEŞ

In [103]:
print("Ricardo Quaresma")

Ricardo Quaresma

In [104]:
df=df.drop("Lise Adi Diger", axis=1)

In [105]:
from unidecode import unidecode
df["Lise Turu"]=df["Lise Turu"].str.lower()

In [106]:
city_map = {
    'istanbul': 3,
    'ankara': 2,
    'izmir': 1
}

# Şehir değişkenini küçük harfe çevirip haritaya göre atama yapıyoruz, diğerlerini 0 yapıyoruz
df['Lise Sehir'] = df['Lise Sehir'].str.lower().map(city_map).fillna(0)

In [107]:
df=df.drop("Lise Bolum Diger", axis=1)

In [108]:
evet_hayir_emekli={'Evet':1,'Hayır':0,'Emekli':0}
df['Anne Calisma Durumu'] = df['Anne Calisma Durumu'].map(evet_hayir_emekli).fillna(0)

In [109]:
df=df.drop('Anne Sektor',axis=1)
df=df.drop('Anne Egitim Durumu',axis=1)

In [110]:
df=df.drop('Baba Sektor',axis=1)
df=df.drop('Baba Egitim Durumu',axis=1)
df['Baba Calisma Durumu'] = df['Baba Calisma Durumu'].map(evet_hayir_emekli).fillna(0)

In [111]:
df["Kardes Sayisi"]=df["Kardes Sayisi"].fillna(0)

In [112]:
df=df.drop("Uye Oldugunuz Kulubun Ismi",axis=1)

In [113]:
evet_hayir={'Evet':1,'Hayır':0}
df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] = df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].map(evet_hayir).fillna(0)

In [115]:
df["Aktif olarak bir STK üyesi misiniz?"]=df["Aktif olarak bir STK üyesi misiniz?"].map(evet_hayir).fillna(0)

In [ ]:
df["Stk Projesine Katildiniz Mi?"]=df["Stk Projesine Katildiniz Mi?"].map(evet_hayir)
df["Girisimcilikle Ilgili Deneyiminiz Var Mi?"]=df["Girisimcilikle Ilgili Deneyiminiz Var Mi?"].map(evet_hayir)