In [272]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [273]:
df = pd.read_csv('train.csv')

C:\Users\erena\AppData\Local\Temp\ipykernel_13340\2436019669.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [274]:
df = df[df['Cinsiyet'].notna() & (df['Cinsiyet'] != '')]

In [275]:
unique_val = df['Baska Bir Kurumdan Burs Aliyor mu?'].unique()
unique_val

array(['Hayır', 'Evet', nan], dtype=object)

In [276]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'] == 'Hayır', 'Burs Aldigi Baska Kurum'] = 0

In [277]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), 'Burs Aldigi Baska Kurum'] = 0

In [278]:
df.describe()

,Basvuru Yili,Degerlendirme Puani,Burslu ise Burs Yuzdesi,id
count,64956.000000,64955.000000,22404.000000,64956.000000
mean,2018.272461,32.112539,34.202910,32545.815752
std,2.671200,18.144754,41.639146,18802.364670
min,2014.000000,0.000000,0.000000,0.000000
25%,2016.000000,18.000000,0.000000,16272.750000
50%,2019.000000,29.000000,0.000000,32520.500000
75%,2021.000000,44.000000,75.000000,48835.250000
max,2022.000000,102.000000,100.000000,65124.000000

In [279]:
df = df[df['Degerlendirme Puani'].notna() & (df['Degerlendirme Puani'] != '')]

In [280]:
df = df[df['Dogum Tarihi'].notna() & (df['Dogum Tarihi'] != '')]

In [281]:
df = df[df['Dogum Yeri'].notna() & (df['Dogum Yeri'] != '')]

In [282]:
df = df[df['Ikametgah Sehri'].notna() & (df['Ikametgah Sehri'] != '')]

In [283]:
df['Lise Bolum Diger'] = df['Lise Bolum Diger'].fillna(0)

In [284]:
df = df[df['Universite Kacinci Sinif'].notna() & (df['Universite Kacinci Sinif'] != '')]

In [285]:
df = df[df['Universite Adi'].notna() & (df['Universite Adi'] != '')]

In [286]:
df = df[df['Bölüm'].notna() & (df['Bölüm'] != '')]

In [287]:
df.loc[(df['Universite Kacinci Sinif'] == '1') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [288]:
df.loc[(df['Universite Kacinci Sinif'] == 'Hazırlık') & (df['Universite Not Ortalamasi'].isnull()), 'Universite Not Ortalamasi'] = 0

In [289]:
df = df[df['Universite Not Ortalamasi'].notna() & (df['Universite Not Ortalamasi'] != '')]

In [290]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [291]:
df = df[df['Lise Adi'].notna() & (df['Lise Adi'] != '')]

In [292]:
unique_val = df['Anne Sektor'].unique()
unique_val

array(['0', 'Kamu', 'Özel Sektör', 'Diğer', nan, 'KAMU', 'ÖZEL SEKTÖR',
       'DİĞER', '-'], dtype=object)

In [293]:
df.loc[df['Anne Calisma Durumu'] == 'Hayır', 'Anne Sektor'] = 0

In [294]:
df.loc[df['Anne Calisma Durumu'] == 'Emekli', 'Anne Sektor'] = 0

In [295]:
df['Daha Once Baska Bir Universiteden Mezun Olmus'] = df['Daha Once Baska Bir Universiteden Mezun Olmus'].fillna('Hayır')

In [296]:
df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'] = df['Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?'].fillna('Hayır')

In [297]:
df.loc[df['Ingilizce Biliyor musunuz?'].isnull(), ['Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?']] = 'Yok'

In [298]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Evet', ['Ingilizce Seviyeniz?']] = 'Baslangic'

In [299]:
df.loc[df['Ingilizce Biliyor musunuz?'] == 'Hayır', ['Ingilizce Seviyeniz?']] = 'Yok'

In [300]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Hayır', ['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [301]:
df.loc[df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'].isnull(), ['Girisimcilikle Ilgili Deneyiminiz Var Mi?','Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']] = 'Yok'

In [302]:
df.loc[(df['Girisimcilikle Ilgili Deneyiminiz Var Mi?'] == 'Evet') & 
       (df['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'].isnull()), 
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?'] = 'Yok'

In [303]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].isnull(), ['Profesyonel Bir Spor Daliyla Mesgul musunuz?','Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [304]:
df.loc[df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] == 'Hayır', ['Spor Dalindaki Rolunuz Nedir?']] = 'Yok'

In [305]:
df.loc[df['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'].isnull(), ['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite']] = 'Yok'

In [306]:
df = df[df['Lise Mezuniyet Notu'].notna() & (df['Lise Mezuniyet Notu'] != '')]

In [307]:
df.loc[df['Universite Adi'] == ('MARMARA ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('HACETTEPE ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'
df.loc[df['Universite Adi'] == ('BEYKENT ÜNİVERSİTESİ'), ['Universite Turu']] = 'Özel'
df.loc[df['Universite Adi'] == ('VAN YÜZÜNCÜ YIL ÜNİVERSİTESİ'), ['Universite Turu']] = 'Devlet'

In [308]:
df.loc[df['Universite Turu'] == 'DEVLET', ['Burslu ise Burs Yuzdesi']]= 100.0

In [309]:
df.loc[df['Universite Turu'] == 'Devlet', ['Burslu ise Burs Yuzdesi']]= 100.0

In [310]:
df.loc[(df['Aktif olarak bir STK üyesi misiniz?'].isnull()) & 
       (df['Hangi STK\'nin Uyesisiniz?']=='Yok'), 
       'Aktif olarak bir STK üyesi misiniz?'] = 'Hayır'

In [311]:
df=df.drop("Hangi STK'nin Uyesisiniz?", axis=1)

In [312]:
df.loc[df['Stk Projesine Katildiniz Mi?'].isnull(), ['Stk Projesine Katildiniz Mi?']]='Hayır'

In [313]:
df.loc[df['Baska Bir Kurumdan Burs Aliyor mu?'].isnull(), ['Baska Bir Kurumdan Burs Aliyor mu?']]='Hayır'

In [314]:
df=df.drop("Lise Adi Diger", axis=1)

In [315]:
from unidecode import unidecode
df["Lise Turu"]=df["Lise Turu"].str.lower()

In [316]:
city_map = {
    'istanbul': 3,
    'ankara': 2,
    'izmir': 1
}

# Şehir değişkenini küçük harfe çevirip haritaya göre atama yapıyoruz, diğerlerini 0 yapıyoruz
df['Lise Sehir'] = df['Lise Sehir'].str.lower().map(city_map).fillna(0)

In [317]:
df=df.drop("Lise Bolum Diger", axis=1)

In [318]:
evet_hayir_emekli={'Evet':1,'Hayır':0,'Emekli':0}
df['Anne Calisma Durumu'] = df['Anne Calisma Durumu'].map(evet_hayir_emekli).fillna(0)

In [319]:
df=df.drop('Anne Sektor',axis=1)
df=df.drop('Anne Egitim Durumu',axis=1)

In [320]:
df=df.drop('Baba Sektor',axis=1)
df=df.drop('Baba Egitim Durumu',axis=1)
df['Baba Calisma Durumu'] = df['Baba Calisma Durumu'].map(evet_hayir_emekli).fillna(0)

In [321]:
df["Kardes Sayisi"]=df["Kardes Sayisi"].fillna(0)

In [322]:
df=df.drop("Uye Oldugunuz Kulubun Ismi",axis=1)

In [323]:
evet_hayir={'Evet':1,'Hayır':0,'evet':1,'EVET':1,'hayır':0,'HAYIR':0}
df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'] = df['Profesyonel Bir Spor Daliyla Mesgul musunuz?'].map(evet_hayir).fillna(0)

In [324]:
df["Aktif olarak bir STK üyesi misiniz?"]=df["Aktif olarak bir STK üyesi misiniz?"].map(evet_hayir).fillna(0)

In [325]:
df["Stk Projesine Katildiniz Mi?"]=df["Stk Projesine Katildiniz Mi?"].map(evet_hayir)
df["Girisimcilikle Ilgili Deneyiminiz Var Mi?"]=df["Girisimcilikle Ilgili Deneyiminiz Var Mi?"].map(evet_hayir).fillna(0)
df=df.drop("Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?",axis=1)

In [326]:
df=df.drop("Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",axis=1)

In [327]:
df=df.drop("Ingilizce Seviyeniz?",axis=1)

In [328]:
df["Ingilizce Biliyor musunuz?"]=df["Ingilizce Biliyor musunuz?"].map(evet_hayir).fillna(0)

In [329]:
df=df.drop("Spor Dalindaki Rolunuz Nedir?",axis=1)

In [330]:
df["Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?"]=df["Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?"].map(evet_hayir)

In [331]:
df=df.drop("Baska Kurumdan Aldigi Burs Miktari",axis=1)

In [332]:
df=df.drop("Burs Aldigi Baska Kurum",axis=1)

In [333]:
df["Baska Bir Kurumdan Burs Aliyor mu?"]=df["Baska Bir Kurumdan Burs Aliyor mu?"].map(evet_hayir)

In [334]:
df["Burs Aliyor mu?"]=df["Burs Aliyor mu?"].map(evet_hayir)

In [335]:
uni_not_mapping = {'ORTALAMA BULUNMUYOR': 0, 'Not ortalaması yok': 0, 'Ortalama bulunmuyor': 0,'Hazırlığım': 0,'0':0,
                   '0 - 1.79': 0,'1.00 - 2.50':1,'1.80 - 2.49':1,'2.50 ve altı':1,'2.00 - 2.50':1,"3.00-2.50":2,
                   "2.50 - 3.00":2,"2.50 - 2.99":2,'2.50 -3.00':2,'3.00 - 3.50':3,'3.50-3':3,'3.00 - 3.49':3,'3.00 - 4.00':3,'3.50 - 4.00':4,'4-3.5':4,'4.0-3.5':4}

In [336]:
df["Universite Not Ortalamasi"]=df["Universite Not Ortalamasi"].map(uni_not_mapping)

In [337]:
df["Universite Not Ortalamasi"]=df["Universite Not Ortalamasi"].fillna(0)

In [338]:
df["Daha Once Baska Bir Universiteden Mezun Olmus"]=df["Daha Once Baska Bir Universiteden Mezun Olmus"].map(evet_hayir)

In [339]:
df["Lise Turu"].value_counts()

Lise Turu
anadolu lisesi        16087
diğer                 11967
devlet                 6203
düz lise               5406
özel                   4446
meslek lisesi          3285
fen lisesi             2240
meslek                 2222
özel lisesi            1867
i̇mam hatip lisesi     1046
Name: count, dtype: int64

In [340]:
lise_mapping = {'anadolu lisesi':0,'diğer':0,'devlet':0,'düz lise':0,'özel':1,'meslek lisesi':2,'fen lisesi':3,'meslek':2,'özel lisesi':1,'imam hatip lisesi':4}

In [341]:
df["Lise Turu"]=df["Lise Turu"].map(lise_mapping)

In [343]:
df["Lise Turu"]=df["Lise Turu"].fillna(0)

In [345]:
lisetürü=df["Lise Bolumu"].value_counts()